.App {
  background-color: #141414;
  color: white;
}

.logo {
  height: 50px;
  width: 50px;
}

.main-head {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Avenir Next", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.heading {
  margin-left: 1rem;
  margin-top: 1rem;
  text-shadow: 2px 2px rgb(128, 127, 127);
}

.Cards:hover {
  box-shadow: 0 0 4px 2px rgb(128, 127, 127);
  right: 0.3rem;
}

.strive-button {
  background-color: grey;
  color: white;
  border: none;
  padding-right: 5rem;
  margin-bottom: 1rem;
}

#dropdown-basic {
  background-color: transparent;
  border-color: white;
}

.maturity-button {
  background-color: rgb(66, 66, 66);
  color: white;
  border: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.edit-button {
  background-color: transparent;
  color: grey;
  border-color: grey;
  padding: 0.2rem 1rem;
  letter-spacing: 0.1rem;
}

hr {
  background-color: rgb(105, 103, 103);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #202020;
  border-color: #666666;
  border-style: solid;
}

.save-button {
  padding: 8px 22px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-right: 2rem;
}

.cancel-button {
  padding: 8px 22px;
  background-color: #202020;
  color: #666666;
  border-style: solid;
  border-color: #666666;
  letter-spacing: 0.1rem;
  margin-right: 2rem;
}

.delete-profile {
  padding: 8px 22px;
  background-color: #202020;
  color: #666666;
  border-style: solid;
  border-color: #666666;
  letter-spacing: 0.1rem;
}